---
import { GithubOutlined } from "@ant-design/icons";
---

<div class="flex justify-between md:w-[500px] lg:w-[700px]">
    <p class="uppercase text-base font-bold	tracking-wide">
        1 Post
    </p>
    <span class="flex justify-center items-center text-sm">
        <span class="mr-2">
            <a 
                href="https://github.com/kimwoodfield/portfolio.me"
                target="_blank"
            >
                View the site's code
            </a>
        </span>
        <GithubOutlined />
    </span>
</div>