---
import { GithubOutlined } from "@ant-design/icons";
import { getCollection } from "astro:content";
import { getTotalPostCountText } from '../utils/getTotalPostCountText';

const allBlogPosts = await getCollection('blog');
const blogPostCountText = getTotalPostCountText(allBlogPosts.length);
---

<div class="flex justify-between md:w-[500px] lg:w-[700px]">
    <p class="uppercase text-base font-bold	tracking-wide">
        {blogPostCountText}
    </p>
    <span class="flex justify-center items-center text-sm">
        <span class="mr-2">
            <a 
                href="https://github.com/kimwoodfield/portfolio.me"
                target="_blank"
            >
                View the site's code
            </a>
        </span>
        <GithubOutlined />
    </span>
</div>