---
import { GithubOutlined } from "@ant-design/icons";
---

<div class="flex justify-between">
    <p class="uppercase text-base">10 Posts</p>
    <span class="flex justify-center items-center text-sm">
        <span class="mr-2">View the site's code</span>
        <GithubOutlined />
    </span>

</div>