---
import BlogTopBar from "./BlogTopBar.astro";
import BlogContainer from "./BlogContainer.astro";
---

<div class="flex justify-center flex-col md:flex-row md:justify-between gap-10 text-lg lg:text-xl">
    <section class="md:max-w-2xl lg:max-w-2xl">
        <BlogTopBar />
        <BlogContainer />
    </section>
    <section class="md:max-w-xs lg:max-w-xs">
        Reading List / Spotify
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi veniam velit assumenda molestiae optio quam necessitatibus officia sint libero repellendus blanditiis, fugit, at nobis quas qui reiciendis? Rerum, blanditiis dignissimos?
        </p>
    </section>
</div>