---
import ThemeIcon from '../components/ThemeIcon.astro';
import { PfpIcon } from '../components/PfpIcon';
---

<section class="p-4 mr-3 ml-3 flex justify-between">
    <PfpIcon />
    <ThemeIcon />
</section>